# Hands-On Assignment 3

In this assignment, you will learn the basics of data cleaning and munging (manipulation).
Data is the heart and soul of a data scientist and machine learner.
Therefore, it is important for you to get comfortable taking data from its natural, messy state
to a state where it is ready for machine learning algorithms.

Since data is at the core of all we do, we learn to love data and treat it well.
However, not everyone is a data scientist, a computer scientist, or even a programmer.
Others that you work with may carefully collect very important data,
but handling and storing the data may not be their expertise.
So whenever working with data prepared by others,
we must always treat their data with care and remember that even data presented in suboptimal ways can be of the utmost importance.
Also remember that even as we learn better data handling practices,
there will still be those with data handling skill and methodologies that are leagues better than our own.
(It's database people, they are usually the best data people. (Written by Eriq, a database person.))

The objective of this assignment is for you to learn about:
 - Finding errors and inconsistencies in data.
 - Extracting key pieces of information from a data column.
 - Assigning types to data columns.
 - Understanding and finding outliers in your data.
 - Replacing missing pieces of data.
 - Encoding data.
 - Joining data.

## Data: CIA World Factbook - 2022

For this assignment, we will be using data from the [CIA World Factbook](https://www.cia.gov/the-world-factbook/).
This is a collection of real data about different countries and regions in the world compiled every year by the CIA.
Specifically, we will be using the world factbook data from [this repository](https://github.com/factbook/factbook.json/) from 2022.

The data can be found in your assignment repository in the `cia_world_factbook_2022.json` file.

Let's take a look at the data as we have done in previous assignments:

In [1]:
import json

import numpy

import pandas

# Our data comes in JSON, so first parse the JSON data.
with open('cia_world_factbook_2022.json', 'r') as file:
    data = json.load(file)

# Now load the JSON data into a Pandas dataframe.
world_data = pandas.DataFrame.from_dict(data, orient = 'index')

# Sort the data by country name so it looks nice.
world_data.sort_index(axis = 0, inplace = True)

# Move the country name out of the index and into an actual column.
world_data.insert(0, 'Country', world_data.index)
world_data.reset_index(drop = True, inplace = True)

world_data

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Export commodities,Labor Agriculture,...,Unemployment rate 2012,Unemployment rate 2014,Unemployment rate 1998,Unemployment rate 2015,Unemployment rate 2002,Unemployment rate 2018,Unemployment rate April 2011,Unemployment rate 2006,Unemployment rate 2005,Unemployment rate 2001
0,Afghanistan,53.65 years,"38,346,720 (2022 est.)",37.3%,99% (2018),18% (2020 est.),total: 61.4% of population,total: 76.5% of population 70.2%,"gold, grapes, opium, fruits and nuts, insect r...",44.3%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Akrotiri,NaN,"(2020) approximately 18,195 on the Sovereign B...",NaN,NaN,NaN,NaN,total: NA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,79.47 years,"3,095,344 (2022 est.)",98.1%,100% (2020),72% (2020 est.),total: 99.9% of population,total: 97% of population,"leather footwear and parts, crude petroleum, i...",41.4%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,78.03 years,"44,178,884 (2022 est.)",81.4%,99.4% (2019),63% (2020 est.),total: 96.5% of population,total: 99.4% of population,"crude petroleum, natural gas, refined petroleu...",10.8%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,American Samoa,75.32 years,"45,443 (2022 est.)",NA,NaN,31% (2020 est.),total: 99% of population,total: 99.8% of population,canned tuna,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.8% (2005),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,64.5 years,"652,271 (July 2020 est.)",NaN,NaN,NaN,NaN,NaN,phosphates 62% (2012 est.),50%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,Yemen,67.51 years,"30,984,689 (2022 est.)",70.1%,47% (2019),27% (2019 est.),total: 59.1% of population,total: 99.6% of population,"crude petroleum, gold, fish, industrial chemic...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,Zambia,66.26 years,"19,642,123 (2022 est.)",86.7%,37% (2019),20% (2020 est.),total: 51.7% of population,total: 71.6% of population,"copper, gold, gemstones, sulfuric acid, raw su...",54.8%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Zimbabwe,63.32 years,"15,121,004 (2022 est.)",86.5%,53% (2019),29% (2020 est.),total: 64.2% of population,total: 76.9% of population,"gold, tobacco, iron alloys, nickel, diamonds, ...",67.5%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,none,74.44 years,"101,009 (2022 est.)",NA,82% (2018),35% (2019 est.),total: 88.3% of population,total: 78.6% of population,"fish and fish products, coral/shells, scrap me...",0.9%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's also take a look at the column information:

In [2]:
world_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       250 non-null    object
 1   Life expectancy               233 non-null    object
 2   Population                    250 non-null    object
 3   Literacy                      229 non-null    object
 4   Electricity access            219 non-null    object
 5   Internet access               227 non-null    object
 6   Improved Sanitation           230 non-null    object
 7   Improved Water                247 non-null    object
 8   Export commodities            232 non-null    object
 9   Labor Agriculture             212 non-null    object
 10  Labor Industry                207 non-null    object
 11  Labor Services                198 non-null    object
 12  Unemployment rate 2021        187 non-null    object
 13  Unemployment rate 2020        187 non-null    object
 14  Unemployment rate 2019        188 non-null    object
 15  Unemployment rate 2016        10 non-null     object
 16  Unemployment rate 2010        3 non-null      object
 17  Unemployment rate 2017        8 non-null      object
 18  Labor Industry and Services   13 non-null     object
 19  Unemployment rate 1997        2 non-null      object
 20  Unemployment rate 2000        3 non-null      object
 21  Unemployment rate 2008        4 non-null      object
 22  Unemployment rate 2004        2 non-null      object
 23  Unemployment rate 2013        2 non-null      object
 24  Unemployment rate 2011        3 non-null      object
 25  Unemployment rate 2012        3 non-null      object
 26  Unemployment rate 2014        3 non-null      object
 27  Unemployment rate 1998        1 non-null      object
 28  Unemployment rate 2015        7 non-null      object
 29  Unemployment rate 2002        1 non-null      object
 30  Unemployment rate 2018        1 non-null      object
 31  Unemployment rate April 2011  1 non-null      object
 32  Unemployment rate 2006        1 non-null      object
 33  Unemployment rate 2005        4 non-null      object
 34  Unemployment rate 2001        1 non-null      object
dtypes: object(35)
memory usage: 68.5+ KB

Now the numerical values:

In [3]:
world_data.describe()

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Export commodities,Labor Agriculture,...,Unemployment rate 2012,Unemployment rate 2014,Unemployment rate 1998,Unemployment rate 2015,Unemployment rate 2002,Unemployment rate 2018,Unemployment rate April 2011,Unemployment rate 2006,Unemployment rate 2005,Unemployment rate 2001
count,250,233,250,229,219,227,230,247,232,212,...,3,3,1,7,1,1,1,1,4,1
unique,250,207,243,118,68,132,122,102,232,154,...,3,3,1,7,1,1,1,1,4,1
top,Afghanistan,NA,(July 2021 est.) no indigenous inhabitants,NA,100% (2020),78% (2020 est.),total: 100% of population,total: 100% of population,"gold, grapes, opium, fruits and nuts, insect r...",NA,...,2% (2012),11% (2014 est.),6% (1998 est.),4.1% (2015 est.),8% (2002),3.69% (2018 est.),2% (April 2011 est.),36% (2006 est.),29.8% (2005),12% (2001)
freq,1,7,4,66,125,10,54,54,1,7,...,1,1,1,1,1,1,1,1,1,1

Note that when we tried to get information about the numerical columns like in a previous assignment,
we didn't get nearly as much information as we did before.
If we look back to `world_data.info()`,
we can see this is because Pandas doesn't actually know which of our columns are numbers
(the dtype ("data type") for each column is just `object`).
If we look at some of the values (like "38,346,720 (2022 est.)"),
we can see why Pandas would be confused about how to treat that data.
Pandas will always try and choose a data type that can be applied to every value in the column.
So if a column has a million ints and one float, then the column type will be float
(since all ints are floats, but not all floats are ints).

Let's see if we can cleanup this data!

## Part 1: Exploring Columns

The first thing to do with a new dataset is explore the columns.
 - What data is each column suppose to contain?
 - What data type should be used to represent each column?
 - Which columns may be useful?

Not all columns in each dataset are going to be useful.
We can start our work by eliminating columns that have a low chance of being needed.

<h3 style="color: darkorange; font-size: x-large";>★ Task 1.A</h3>

Complete the following function that takes in a frame and drops the columns in the frame that have greater than `sparsity_threshold` percent of values empty.
Assume any value that [Pandas.isna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isna.html) returns true for is "empty".
Return the passed-in frame.

In [4]:
def drop_sparse_columns(frame, sparsity_threshold):
    for name in frame:
        count = 0
        for val in frame[name]:
            if pandas.isna(val):
                count += 1
        if (count / len(frame) > sparsity_threshold):
            frame.pop(name)
    return frame

print("Dropping any column with at least 50% empty values:")
drop_sparse_columns(world_data, 0.50)

Dropping any column with at least 50% empty values:

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Export commodities,Labor Agriculture,Labor Industry,Labor Services,Unemployment rate 2021,Unemployment rate 2020,Unemployment rate 2019
0,Afghanistan,53.65 years,"38,346,720 (2022 est.)",37.3%,99% (2018),18% (2020 est.),total: 61.4% of population,total: 76.5% of population 70.2%,"gold, grapes, opium, fruits and nuts, insect r...",44.3%,18.1%,37.6% (2017 est.),13.28% (2021 est.),11.71% (2020 est.),11.22% (2019 est.)
1,Akrotiri,NaN,"(2020) approximately 18,195 on the Sovereign B...",NaN,NaN,NaN,NaN,total: NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,79.47 years,"3,095,344 (2022 est.)",98.1%,100% (2020),72% (2020 est.),total: 99.9% of population,total: 97% of population,"leather footwear and parts, crude petroleum, i...",41.4%,18.3%,40.3% (2017 est.),11.82% (2021 est.),13.33% (2020 est.),11.47% (2019 est.)
3,Algeria,78.03 years,"44,178,884 (2022 est.)",81.4%,99.4% (2019),63% (2020 est.),total: 96.5% of population,total: 99.4% of population,"crude petroleum, natural gas, refined petroleu...",10.8%,30.9%,58.4% (2011 est.),12.7% (2021 est.),12.55% (2020 est.),10.51% (2019 est.)
4,American Samoa,75.32 years,"45,443 (2022 est.)",NA,NaN,31% (2020 est.),total: 99% of population,total: 99.8% of population,canned tuna,NA,15.5%,46.4% (2015 est.),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,64.5 years,"652,271 (July 2020 est.)",NaN,NaN,NaN,NaN,NaN,phosphates 62% (2012 est.),50%,50%,NaN,NaN,NaN,NaN
246,Yemen,67.51 years,"30,984,689 (2022 est.)",70.1%,47% (2019),27% (2019 est.),total: 59.1% of population,total: 99.6% of population,"crude petroleum, gold, fish, industrial chemic...",NaN,NaN,NaN,13.57% (2021 est.),13.39% (2020 est.),13.06% (2019 est.)
247,Zambia,66.26 years,"19,642,123 (2022 est.)",86.7%,37% (2019),20% (2020 est.),total: 51.7% of population,total: 71.6% of population,"copper, gold, gemstones, sulfuric acid, raw su...",54.8%,9.9%,35.3% (2017 est.),13.03% (2021 est.),12.85% (2020 est.),12.52% (2019 est.)
248,Zimbabwe,63.32 years,"15,121,004 (2022 est.)",86.5%,53% (2019),29% (2020 est.),total: 64.2% of population,total: 76.9% of population,"gold, tobacco, iron alloys, nickel, diamonds, ...",67.5%,7.3%,25.2% (2017 est.),5.17% (2021 est.),5.35% (2020 est.),4.83% (2019 est.)
249,none,74.44 years,"101,009 (2022 est.)",NA,82% (2018),35% (2019 est.),total: 88.3% of population,total: 78.6% of population,"fish and fish products, coral/shells, scrap me...",0.9%,5.2%,93.9% (2013 est.),NaN,NaN,NaN

Now that we have fewer columns to worry about,
we can take a closer look at our data.

It looks like this data was originally meant for people and not machines.
There are several things that make it easier for people to read, but harder for us machine learning folks:
 - Commas in numeric values: '38,346,720' instead of '38346720'.
 - Units after numbers: '53.65 years', '37.3%'.
 - Notes about the data interweaved with the data itself: '37.6% (2017 est.)' instead of just '37.6%' (or better: '0.376').

Externally displaying data with these traits can really help analysts and non-data scientists,
but can really get in the way of our data analysis work.
When possible, we want to store the data cleanly and translate it to a more human readable form (often called a *report*) for readers, analysts, managers, etc..
This also makes it easier to transform our data in different ways
(like using a dot instead of a comma as a decimal separator in some countries: '1,000' vs '1.000').

In our data, it looks like many columns just contain a single main number with some potential context information around it:

In [5]:
world_data['Population'][0]

'38,346,720 (2022 est.)'

There are also more complex cases that contain multiple relevant numbers:

In [6]:
world_data['Population'][1]

'(2020) approximately 18,195 on the Sovereign Base Areas of Akrotiri and Dhekelia including 11,000 Cypriots and 7,195 Service and UK-based contract personnel and dependents'

We will want to clean up these cells so that they contain just the core piece of information and not all that extra information.

<h3 style="color: darkorange; font-size: x-large";>★ Task 1.B</h3>

Complete the following function that takes in a frame and a list of columns to ignore.
For all columns that are not ignored,
extract a number from the cell's text and replace the cell's contents with that correctly typed number (either a `float` or `int`).
The number should be converted to an `int` if the text does not have a decimal point (and is not a percentage).
If the cell contains no number, replace it with a `numpy.nan`.
Convert percentages to normalized floats, e.g., `str('37.6% (2017 est.)')` turns into `float(0.376)`.
Return the passed-in frame.

For cells with ambiguous data/numbers,
it is your job to do your best to honor what that data's author likely intended.

**Warning:
This is a hard task with no exact answer (as with most tasks in machine learning).
Look through the data to find as many edge cases as you can, turn those into test cases, and see how many you can solve.
Start with a simple solution and work up from there.**

In [7]:
def extract_numbers(frame, ignore_columns = []):
    for name in frame:
        if name in ignore_columns:
            continue
        for i, val in enumerate(frame[name]):
            val = frame[name][i]
            isper = False
            val = str(val)
            if "no" in val or "uninhabited" in val:
                val = '0'
            val = val.replace("total: ", '')
            val = val.replace("approximately ", '')
            val = val.split()[0]
            val = val.replace(',', '')
            if '%' in val:
                val = val.replace('%', '')
                isper = True
            if '.' in val:
                val = float(val)
            elif val.isdigit():
                val = int(val)
            else:
                val = numpy.nan
            if isper:
                val *= 0.01
                val = round(val, 5)
            frame.at[i, name] = val
    return frame

print("Cleaning up the numeric values:")
extract_numbers(world_data, ['Country', 'Export commodities'])

Cleaning up the numeric values:

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Export commodities,Labor Agriculture,Labor Industry,Labor Services,Unemployment rate 2021,Unemployment rate 2020,Unemployment rate 2019
0,Afghanistan,53.65,38346720,0.373,0.99,0.18,0.614,0.765,"gold, grapes, opium, fruits and nuts, insect r...",0.443,0.181,0.376,0.1328,0.1171,0.1122
1,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,79.47,3095344,0.981,1.0,0.72,0.999,0.97,"leather footwear and parts, crude petroleum, i...",0.414,0.183,0.403,0.1182,0.1333,0.1147
3,Algeria,78.03,44178884,0.814,0.994,0.63,0.965,0.994,"crude petroleum, natural gas, refined petroleu...",0.108,0.309,0.584,0.127,0.1255,0.1051
4,American Samoa,75.32,45443,NaN,NaN,0.31,0.99,0.998,canned tuna,NaN,0.155,0.464,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,64.5,652271,NaN,NaN,NaN,NaN,NaN,phosphates 62% (2012 est.),0.5,0.5,NaN,NaN,NaN,NaN
246,Yemen,67.51,30984689,0.701,0.47,0.27,0.591,0.996,"crude petroleum, gold, fish, industrial chemic...",NaN,NaN,NaN,0.1357,0.1339,0.1306
247,Zambia,66.26,19642123,0.867,0.37,0.2,0.517,0.716,"copper, gold, gemstones, sulfuric acid, raw su...",0.548,0.099,0.353,0.1303,0.1285,0.1252
248,Zimbabwe,63.32,15121004,0.865,0.53,0.29,0.642,0.769,"gold, tobacco, iron alloys, nickel, diamonds, ...",0.675,0.073,0.252,0.0517,0.0535,0.0483
249,none,74.44,101009,NaN,0.82,0.35,0.883,0.786,"fish and fish products, coral/shells, scrap me...",0.009,0.052,0.939,NaN,NaN,NaN

As a consequence of what we just did, we also standardized all the NaN values in those columns.
Before we could see empty values represented in several different ways:
 - 'NaN'
 - 'NA'
 - 'total: NA'
 - '' (empty)

Now, since any cell that didn't contain a number was replaced with `numpy.nan`,
all numeric cells with missing/empty values are consistent.

Now that we have cleaned up our numeric columns,
let's officially tell Pandas the data types for our columns.
Because even though most of our columns now only contains numbers (and `numpy.nan`),
Pandas still needs to be told what data type each column uses.

In [8]:
world_data.describe()

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Export commodities,Labor Agriculture,Labor Industry,Labor Services,Unemployment rate 2021,Unemployment rate 2020,Unemployment rate 2019
count,250,226.00,249,163.000,219.0,227.00,214.0,224.0,232,204.0,199.0,190.00,187.0000,187.0000,188.0000
unique,250,206.00,237,117.000,63.0,92.00,121.0,100.0,232,149.0,133.0,162.00,175.0000,177.0000,172.0000
top,Afghanistan,76.13,0,0.998,1.0,0.78,1.0,1.0,"gold, grapes, opium, fruits and nuts, insect r...",0.8,0.2,0.75,0.0217,0.2589,0.0445
freq,1,3.00,13,9.000,130.0,10.00,54.0,54.0,1,5.0,9.0,3.00,2.0000,2.0000,4.0000

<h3 style="color: darkorange; font-size: x-large";>★ Task 1.C</h3>

Complete the following function that takes in a frame and assigns the closest matching type to each column.
You can choose from the following three types: `int`, `float`, and `str`.
(Note that columns containing only integers should have the `int` type, not the `float` type.)
Ignore any `numpy.nan` values when making decisions.
Return the passed-in frame.

In [9]:
def guess_types(frame):
    for name in frame:
        str_count = 0
        int_count = 0
        flt_count = 0
        for val in frame[name]:
            if val == numpy.nan:
                continue
            elif isinstance(val, int):
                int_count += 1
            elif isinstance(val, float):
                flt_count += 1
            elif isinstance(val, str):
                str_count += 1
        if str_count > 0:
            frame[name] = frame[name].astype(str)
        elif flt_count > 0:
            frame[name] = frame[name].astype(float)
        else:
            frame[name] = frame[name].astype(int)
    return frame

print("Data description after types are assigned:")
guess_types(world_data)
world_data.describe()

Data description after types are assigned:

,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Labor Agriculture,Labor Industry,Labor Services,Unemployment rate 2021,Unemployment rate 2020,Unemployment rate 2019
count,226.000000,2.490000e+02,163.00000,219.000000,227.000000,214.000000,224.000000,204.000000,199.000000,190.000000,187.000000,187.000000,188.000000
mean,74.584336,3.168933e+07,0.85889,0.865037,0.620269,0.859491,0.936634,0.369309,0.192879,0.666642,0.086049,0.086427,0.074209
std,6.753206,1.310965e+08,0.17701,0.247437,0.276890,0.209151,0.099128,1.411557,0.098790,1.430179,0.061585,0.061402,0.057825
min,53.650000,0.000000e+00,0.22300,0.090000,0.010000,0.157000,0.475000,0.000000,0.018000,0.041000,0.002600,0.002100,0.001000
25%,70.005000,1.223200e+05,0.78450,0.878000,0.360000,0.807750,0.922500,0.042000,0.129000,0.411500,0.043950,0.043750,0.036000
50%,75.800000,4.337768e+06,0.94500,1.000000,0.700000,0.971500,0.987000,0.162500,0.190000,0.592000,0.066500,0.068000,0.054000
75%,79.640000,1.964212e+07,0.98550,1.000000,0.860000,0.999750,0.999000,0.442250,0.240500,0.733000,0.114600,0.114550,0.099525
max,89.520000,1.410540e+09,1.00000,1.000000,1.000000,1.000000,1.000000,20.060000,0.630000,20.060000,0.335600,0.292200,0.284700

Now we can see more complete statistics for our numerical columns.
Our data is so much cleaner than when we started,
but it still has some issues lurking in it and is not ready for our machine learning algorithms.

## Part 2: Data Cleaning and Smoothing

Now that our data is cleaner, we can look closer at our numbers.
It is always important to take time to go over your data.
To help understand our data, we will use both aggregate statistics and manual inspection.

### Data Outliers

Now, you may notice some inconsistencies (depending on how well you did in previous parts)
in your data statistics (`describe()`).
For example, you may notice a value for a percentage column above 1.0 or a population in the single digits.
Looking at these aggregate statistics can help us recognize that there are issues in our data.
However, we still need to isolate the specific entries with issues and fix them.

To start, we want to look for [outliers](https://en.wikipedia.org/wiki/Outlier) in our data.
An outlier is just a point that lies "outside" the expected range for our data.
The exact definition for what is considered "outside" our expected range depends on the dataset and situation.

<h3 style="color: darkorange; font-size: x-large";>★ Task 2.A</h3>

Complete the function below which takes in a frame, a number of standard deviations, and the name of a label column.
This function will search all numeric columns for outliers.
An outlier will be any value that is more that the specified number of standard deviations away from the column's mean.
Any NaNs should be ignored.

The return value should be a dict where the keys are the names of columns that contain an outlier
and the value is a list of tuples with the value of the label column for that row and the outlier value.
Columns without outliers (and non-numeric columns) should be omitted from the returned result.

For example, a valid return from `find_outliers(world_data, 4.0, 'Country')` could be:
```
{
    'Population': [
        ('China', 1410539758.0),
        ('India', 1389637446.0)
    ]
}
```

Use this function as a chance to catch bugs you may have in your number parsing function.

In [10]:
def find_outliers(frame, deviations, label_column_name):
    d = {}
    for index, row in frame.iterrows():
        for name, val in row.items():
            if frame[name].dtype == 'object':
                continue
            if val == numpy.nan:
                continue
            if val > (frame[name].std() * deviations) + frame[name].mean():
                if name in d:
                    d[name].append((frame[label_column_name][index], val))
                else:
                    d[name] = [(frame[label_column_name][index], val)]
    return d

print("Outliers found in our data:")
find_outliers(world_data, 0.0, 'Country')

Outliers found in our data:

{'Population': [('Afghanistan', 38346720.0),
  ('Algeria', 44178884.0),
  ('Angola', 34795287.0),
  ('Argentina', 46245668.0),
  ('Bangladesh', 165650475.0),
  ('Brazil', 217240060.0),
  ('Burma', 57526449.0),
  ('Canada', 38232593.0),
  ('China', 1410539758.0),
  ('Colombia', 49059221.0),
  ('DRC', 108407721.0),
  ('Egypt', 107770524.0),
  ('Ethiopia', 113656596.0),
  ('France', 68305148.0),
  ('Germany', 84316622.0),
  ('Ghana', 33107275.0),
  ('India', 1389637446.0),
  ('Indonesia', 277329163.0),
  ('Iran', 86758304.0),
  ('Iraq', 40462701.0),
  ('Italy', 61095551.0),
  ('Japan', 124214766.0),
  ('Kenya', 55864655.0),
  ('Malaysia', 33871431.0),
  ('Mexico', 129150971.0),
  ('Morocco', 36738229.0),
  ('Mozambique', 31693239.0),
  ('Nigeria', 225082083.0),
  ('Pakistan', 242923845.0),
  ('Peru', 32275736.0),
  ('Philippines', 114597229.0),
  ('Poland', 38093101.0),
  ('Russia', 142021981.0),
  ('Saudi Arabia', 35354380.0),
  ('South Africa', 57516665.0),
  ('South Korea', 51844834.0),
  ('Spain', 47163418.0),
  ('Sudan', 47958856.0),
  ('Tanzania', 63852892.0),
  ('Thailand', 69648117.0),
  ('Turkey', 83047706.0),
  ('Uganda', 46205893.0),
  ('Ukraine', 43528136.0),
  ('United Kingdom', 67791400.0),
  ('United States', 337341954.0),
  ('Vietnam', 103808319.0)],
 'Electricity access': [('Afghanistan', 0.99),
  ('Albania', 1.0),
  ('Algeria', 0.994),
  ('Andorra', 1.0),
  ('Antigua and Barbuda', 1.0),
  ('Argentina', 0.99),
  ('Armenia', 1.0),
  ('Aruba', 1.0),
  ('Australia', 1.0),
  ('Austria', 1.0),
  ('Azerbaijan', 1.0),
  ('Bahrain', 1.0),
  ('Barbados', 1.0),
  ('Belarus', 1.0),
  ('Belgium', 1.0),
  ('Belize', 0.995),
  ('Bermuda', 1.0),
  ('Bhutan', 1.0),
  ('Bolivia', 0.93),
  ('Bosnia and Herzegovina', 1.0),
  ('Brazil', 1.0),
  ('British Virgin Islands', 1.0),
  ('Brunei', 1.0),
  ('Bulgaria', 1.0),
  ('Cabo Verde', 0.96),
  ('Canada', 1.0),
  ('Cayman Islands', 1.0),
  ('Chile', 1.0),
  ('China', 1.0),
  ('Colombia', 0.97),
  ('Costa Rica', 1.0),
  ('Croatia', 1.0),
  ('Cuba', 1.0),
  ('Curacao', 1.0),
  ('Cyprus', 1.0),
  ('Czechia', 1.0),
  ('Denmark', 1.0),
  ('Dominica', 1.0),
  ('Ecuador', 0.97),
  ('Egypt', 1.0),
  ('El Salvador', 0.97),
  ('Estonia', 1.0),
  ('Eswatini', 0.9),
  ('Faroe Islands', 1.0),
  ('Fiji', 0.996),
  ('Finland', 1.0),
  ('France', 1.0),
  ('French Polynesia', 1.0),
  ('Gabon', 0.92),
  ('Gaza Strip', 1.0),
  ('Georgia', 1.0),
  ('Germany', 1.0),
  ('Gibraltar', 1.0),
  ('Greece', 1.0),
  ('Greenland', 1.0),
  ('Grenada', 0.953),
  ('Guam', 1.0),
  ('Guatemala', 0.92),
  ('Guernsey', 1.0),
  ('Guyana', 0.918),
  ('Holy See (Vatican City)', 1.0),
  ('Hong Kong', 1.0),
  ('Hungary', 1.0),
  ('Iceland', 1.0),
  ('India', 0.99),
  ('Indonesia', 0.99),
  ('Iran', 1.0),
  ('Iraq', 1.0),
  ('Ireland', 1.0),
  ('Isle of Man', 1.0),
  ('Israel', 1.0),
  ('Italy', 1.0),
  ('Jamaica', 0.99),
  ('Japan', 1.0),
  ('Jersey', 1.0),
  ('Jordan', 1.0),
  ('Kazakhstan', 1.0),
  ('Kiribati', 1.0),
  ('Kosovo', 1.0),
  ('Kuwait', 1.0),
  ('Kyrgyzstan', 1.0),
  ('Laos', 0.95),
  ('Latvia', 1.0),
  ('Lebanon', 1.0),
  ('Libya', 1.0),
  ('Liechtenstein', 1.0),
  ('Lithuania', 1.0),
  ('Luxembourg', 1.0),
  ('Macau', 1.0),
  ('Malaysia', 1.0),
  ('Maldives', 1.0),
  ('Malta', 1.0),
  ('Marshall Islands', 0.963),
  ('Mauritius', 1.0),
  ('Mexico', 1.0),
  ('Moldova', 1.0),
  ('Monaco', 1.0),
  ('Mongolia', 0.91),
  ('Montenegro', 1.0),
  ('Morocco', 1.0),
  ('Nauru', 0.998),
  ('Nepal', 0.93),
  ('Netherlands', 1.0),
  ('New Caledonia', 1.0),
  ('New Zealand', 1.0),
  ('Nicaragua', 0.97),
  ('North Macedonia', 1.0),
  ('Northern Mariana Islands', 1.0),
  ('Norway', 1.0),
  ('Oman', 0.99),
  ('Palau', 1.0),
  ('Panama', 0.92),
  ('Paraguay', 1.0),
  ('Peru', 0.97),
  ('Philippines', 0.96),
  ('Poland', 1.0),
  ('Portugal', 1.0),
  ('Puerto Rico', 1.0),
  ('Qatar', 1.0),
  ('Romania', 1.0),
  ('Russia', 1.0),
  ('Saint Barthelemy', 1.0),
  ('Saint Kitts and Nevis', 1.0),
  ('Saint Lucia', 0.995),
  ('Saint Martin', 1.0),
  ('Saint Vincent and the Grenadines', 1.0),
  ('Samoa', 1.0),
  ('San Marino', 1.0),
  ('Saudi Arabia', 1.0),
  ('Serbia', 1.0),
  ('Seychelles', 1.0),
  ('Singapore', 1.0),
  ('Sint Maarten', 1.0),
  ('Slovakia', 1.0),
  ('Slovenia', 1.0),
  ('South Africa', 0.94),
  ('South Korea', 1.0),
  ('Spain', 1.0),
  ('Sri Lanka', 1.0),
  ('Suriname', 0.974),
  ('Sweden', 1.0),
  ('Switzerland', 1.0),
  ('Syria', 0.92),
  ('Tajikistan', 1.0),
  ('Thailand', 1.0),
  ('The Bahamas', 1.0),
  ('The Dominican', 1.0),
  ('Tonga', 0.989),
  ('Trinidad and Tobago', 1.0),
  ('Tunisia', 1.0),
  ('Turkey', 1.0),
  ('Turkmenistan', 1.0),
  ('Turks and Caicos Islands', 1.0),
  ('Tuvalu', 1.0),
  ('Ukraine', 1.0),
  ('United Kingdom', 1.0),
  ('United States', 1.0),
  ('Uruguay', 1.0),
  ('Uzbekistan', 1.0),
  ('Venezuela', 0.996),
  ('Vietnam', 1.0),
  ('Virgin Islands', 1.0),
  ('Wake Island', 1.0),
  ('West Bank', 1.0)],
 'Labor Agriculture': [('Afghanistan', 0.443),
  ('Albania', 0.414),
  ('Angola', 0.85),
  ('Anguilla', 0.741),
  ('Azerbaijan', 0.37),
  ('Bangladesh', 0.427),
  ('Bhutan', 0.58),
  ('Burkina Faso', 0.9),
  ('Burma', 0.7),
  ('Burundi', 0.936),
  ('Cambodia', 0.487),
  ('Cameroon', 0.7),
  ('Chad', 0.8),
  ('Comoros', 0.8),
  ("Cote d'Ivoire", 0.68),
  ('Dominica', 0.4),
  ('Eritrea', 0.8),
  ('Ethiopia', 0.727),
  ('Falkland Islands (Islas Malvinas)', 0.41),
  ('Fiji', 0.442),
  ('Gabon', 0.64),
  ('Georgia', 0.556),
  ('Ghana', 0.447),
  ('Guinea', 0.76),
  ('Guinea-Bissau', 0.82),
  ('Haiti', 0.381),
  ('Honduras', 0.392),
  ('India', 0.47),
  ('Kenya', 0.611),
  ('Kyrgyzstan', 0.48),
  ('Laos', 0.731),
  ('Lebanon', 0.39),
  ('Lesotho', 0.86),
  ('Liberia', 0.7),
  ('Malawi', 0.769),
  ('Mali', 0.8),
  ('Mauritania', 0.5),
  ('Morocco', 0.391),
  ('Mozambique', 0.744),
  ('Nepal', 0.69),
  ('Niger', 0.792),
  ('Nigeria', 0.7),
  ('North Korea', 0.37),
  ('Pakistan', 0.423),
  ('Papua New Guinea', 0.85),
  ('Rwanda', 0.753),
  ('Samoa', 0.65),
  ('Senegal', 0.775),
  ('Sierra Leone', 0.611),
  ('Solomon Islands', 0.75),
  ('Somalia', 0.71),
  ('Sudan', 0.8),
  ('Tajikistan', 0.43),
  ('Tanzania', 0.669),
  ('The Gambia', 0.75),
  ('Timor-Leste', 0.41),
  ('Togo', 0.65),
  ('Tonga', 20.06),
  ('Turkmenistan', 0.482),
  ('Uganda', 0.71),
  ('Vanuatu', 0.65),
  ('Vietnam', 0.403),
  ('Wallis and Futuna', 0.74),
  ('Western Sahara', 0.5),
  ('Zambia', 0.548),
  ('Zimbabwe', 0.675)],
 'Unemployment rate 2021': [('Afghanistan', 0.1328),
  ('Albania', 0.1182),
  ('Algeria', 0.127),
  ('Argentina', 0.109),
  ('Armenia', 0.209),
  ('Barbados', 0.1041),
  ('Bosnia and Herzegovina', 0.1522),
  ('Botswana', 0.2472),
  ('Brazil', 0.144),
  ('Cabo Verde', 0.1542),
  ('Chile', 0.0913),
  ('Colombia', 0.1434),
  ('Comoros', 0.0945),
  ('Congo (Brazzaville)', 0.2301),
  ('Costa Rica', 0.1795),
  ('Croatia', 0.0868),
  ('Djibouti', 0.2839),
  ('Egypt', 0.0933),
  ('Equatorial Guinea', 0.0924),
  ('Eswatini', 0.2576),
  ('French Polynesia', 0.1439),
  ('Gabon', 0.2226),
  ('Gaza Strip', 0.249),
  ('Georgia', 0.1066),
  ('Greece', 0.148),
  ('Guyana', 0.1642),
  ('Haiti', 0.1573),
  ('Iran', 0.1146),
  ('Iraq', 0.1419),
  ('Italy', 0.0983),
  ('Jamaica', 0.0918),
  ('Jordan', 0.1925),
  ('Kyrgyzstan', 0.091),
  ('Lebanon', 0.1449),
  ('Lesotho', 0.246),
  ('Libya', 0.1958),
  ('Mauritania', 0.1146),
  ('Montenegro', 0.1849),
  ('Morocco', 0.1147),
  ('Namibia', 0.2168),
  ('New Caledonia', 0.1657),
  ('Nigeria', 0.0979),
  ('North Macedonia', 0.162),
  ('Panama', 0.1209),
  ('Saint Lucia', 0.1691),
  ('Saint Vincent and the Grenadines', 0.2162),
  ('Samoa', 0.0984),
  ('Sao Tome and Principe', 0.1591),
  ('Serbia', 0.1181),
  ('Somalia', 0.1986),
  ('South Africa', 0.3356),
  ('South Sudan', 0.1391),
  ('Spain', 0.1473),
  ('Sudan', 0.1981),
  ('Suriname', 0.1006),
  ('Sweden', 0.0866),
  ('Syria', 0.1057),
  ('The Bahamas', 0.1324),
  ('The Gambia', 0.1121),
  ('Tunisia', 0.1682),
  ('Turkey', 0.1339),
  ('Ukraine', 0.0888),
  ('Uruguay', 0.1045),
  ('Virgin Islands', 0.1327),
  ('West Bank', 0.249),
  ('Yemen', 0.1357),
  ('Zambia', 0.1303)],
 'Unemployment rate 2020': [('Afghanistan', 0.1171),
  ('Albania', 0.1333),
  ('Algeria', 0.1255),
  ('Argentina', 0.1146),
  ('Armenia', 0.2121),
  ('Barbados', 0.1038),
  ('Bosnia and Herzegovina', 0.1527),
  ('Botswana', 0.2493),
  ('Brazil', 0.1369),
  ('Cabo Verde', 0.1531),
  ('Canada', 0.0946),
  ('Chile', 0.1118),
  ('Colombia', 0.1504),
  ('Comoros', 0.0922),
  ('Congo (Brazzaville)', 0.2284),
  ('Costa Rica', 0.1741),
  ('Djibouti', 0.2839),
  ('Egypt', 0.0917),
  ('Equatorial Guinea', 0.099),
  ('Eswatini', 0.2551),
  ('French Polynesia', 0.141),
  ('Gabon', 0.2197),
  ('Gaza Strip', 0.2589),
  ('Georgia', 0.185),
  ('Greece', 0.163),
  ('Guyana', 0.1643),
  ('Haiti', 0.1545),
  ('Iran', 0.1217),
  ('Iraq', 0.1409),
  ('Italy', 0.0916),
  ('Jamaica', 0.0948),
  ('Jordan', 0.1903),
  ('Kyrgyzstan', 0.0871),
  ('Lebanon', 0.133),
  ('Lesotho', 0.2456),
  ('Libya', 0.2007),
  ('Mauritania', 0.1127),
  ('Montenegro', 0.179),
  ('Morocco', 0.1145),
  ('Namibia', 0.2145),
  ('New Caledonia', 0.1643),
  ('Nigeria', 0.0971),
  ('North Macedonia', 0.172),
  ('Panama', 0.1285),
  ('Puerto Rico', 0.0889),
  ('Saint Lucia', 0.1689),
  ('Saint Vincent and the Grenadines', 0.21),
  ('Samoa', 0.0915),
  ('Sao Tome and Principe', 0.1575),
  ('Serbia', 0.0901),
  ('Somalia', 0.1972),
  ('South Africa', 0.2922),
  ('South Sudan', 0.1403),
  ('Spain', 0.1553),
  ('Sudan', 0.1965),
  ('Suriname', 0.0978),
  ('Syria', 0.1026),
  ('The Bahamas', 0.1332),
  ('The Gambia', 0.1108),
  ('Tunisia', 0.1659),
  ('Turkey', 0.1311),
  ('Ukraine', 0.0913),
  ('Uruguay', 0.1035),
  ('Virgin Islands', 0.1355),
  ('West Bank', 0.2589),
  ('Yemen', 0.1339),
  ('Zambia', 0.1285)],
 'Unemployment rate 2019': [('Afghanistan', 0.1122),
  ('Albania', 0.1147),
  ('Algeria', 0.1051),
  ('Argentina', 0.0984),
  ('Armenia', 0.183),
  ('Barbados', 0.0841),
  ('Bosnia and Herzegovina', 0.1569),
  ('Botswana', 0.2261),
  ('Brazil', 0.1193),
  ('Cabo Verde', 0.1222),
  ('Colombia', 0.0996),
  ('Comoros', 0.0808),
  ('Congo (Brazzaville)', 0.2062),
  ('Costa Rica', 0.1149),
  ('Djibouti', 0.2636),
  ('Egypt', 0.0784),
  ('Equatorial Guinea', 0.0868),
  ('Eswatini', 0.2284),
  ('France', 0.0841),
  ('French Polynesia', 0.123),
  ('Gabon', 0.2074),
  ('Gaza Strip', 0.2534),
  ('Georgia', 0.1157),
  ('Greece', 0.1731),
  ('Guyana', 0.1399),
  ('Haiti', 0.1391),
  ('Iran', 0.1074),
  ('Iraq', 0.1286),
  ('Italy', 0.0995),
  ('Jamaica', 0.0769),
  ('Jordan', 0.1681),
  ('Lebanon', 0.1135),
  ('Lesotho', 0.2244),
  ('Libya', 0.1966),
  ('Mali', 0.0744),
  ('Mauritania', 0.1039),
  ('Montenegro', 0.1512),
  ('Morocco', 0.0928),
  ('Namibia', 0.1999),
  ('New Caledonia', 0.1491),
  ('Nigeria', 0.0853),
  ('North Macedonia', 0.1726),
  ('Puerto Rico', 0.083),
  ('Saint Lucia', 0.1532),
  ('Saint Vincent and the Grenadines', 0.1928),
  ('Samoa', 0.0841),
  ('Sao Tome and Principe', 0.1414),
  ('Serbia', 0.1039),
  ('Somalia', 0.1883),
  ('South Africa', 0.2847),
  ('South Sudan', 0.1223),
  ('Spain', 0.141),
  ('Sudan', 0.1765),
  ('Suriname', 0.0804),
  ('Syria', 0.0877),
  ('The Bahamas', 0.1006),
  ('The Gambia', 0.095),
  ('Tunisia', 0.1513),
  ('Turkey', 0.1367),
  ('Ukraine', 0.0819),
  ('Uruguay', 0.0888),
  ('Virgin Islands', 0.1247),
  ('West Bank', 0.2534),
  ('Yemen', 0.1306),
  ('Zambia', 0.1252)],
 'Life expectancy': [('Albania', 79.47),
  ('Algeria', 78.03),
  ('American Samoa', 75.32),
  ('Andorra', 83.42),
  ('Anguilla', 82.2),
  ('Antigua and Barbuda', 77.8),
  ('Argentina', 78.31),
  ('Armenia', 76.13),
  ('Aruba', 78.01),
  ('Australia', 83.09),
  ('Austria', 82.27),
  ('Bahrain', 79.9),
  ('Bangladesh', 74.7),
  ('Barbados', 78.55),
  ('Belgium', 81.86),
  ('Belize', 75.82),
  ('Bermuda', 82.04),
  ('Bosnia and Herzegovina', 77.98),
  ('Brazil', 75.92),
  ('British Virgin Islands', 79.67),
  ('Brunei', 78.38),
  ('Bulgaria', 75.57),
  ('Canada', 83.8),
  ('Cayman Islands', 82.04),
  ('Chile', 79.79),
  ('China', 77.72),
  ('Colombia', 74.89),
  ('Cook Islands', 77.14),
  ('Costa Rica', 79.64),
  ('Croatia', 77.22),
  ('Cuba', 79.64),
  ('Curacao', 79.42),
  ('Cyprus', 79.74),
  ('Czechia', 79.73),
  ('Denmark', 81.66),
  ('Dominica', 78.21),
  ('Ecuador', 78.0),
  ('El Salvador', 75.37),
  ('Estonia', 77.88),
  ('Falkland Islands (Islas Malvinas)', 77.9),
  ('Faroe Islands', 81.26),
  ('Finland', 81.76),
  ('France', 82.59),
  ('French Polynesia', 78.43),
  ('Gaza Strip', 75.4),
  ('Georgia', 77.5),
  ('Germany', 81.51),
  ('Gibraltar', 80.42),
  ('Greece', 81.49),
  ('Grenada', 75.74),
  ('Guam', 77.5),
  ('Guernsey', 83.23),
  ('Honduras', 75.17),
  ('Hong Kong', 83.61),
  ('Hungary', 77.2),
  ('Iceland', 83.64),
  ('Iran', 75.25),
  ('Ireland', 81.66),
  ('Isle of Man', 82.04),
  ('Israel', 83.35),
  ('Italy', 82.59),
  ('Jamaica', 75.75),
  ('Japan', 84.83),
  ('Jersey', 82.63),
  ('Jordan', 76.01),
  ('Kuwait', 79.13),
  ('Latvia', 75.91),
  ('Lebanon', 78.76),
  ('Libya', 77.18),
  ('Liechtenstein', 82.56),
  ('Lithuania', 75.78),
  ('Luxembourg', 82.98),
  ('Macau', 84.98),
  ('Malaysia', 76.13),
  ('Maldives', 76.94),
  ('Malta', 83.2),
  ('Marshall Islands', 74.65),
  ('Mauritius', 74.86),
  ('Monaco', 89.52),
  ('Montenegro', 77.75),
  ('Montserrat', 75.7),
  ('Netherlands', 82.16),
  ('New Caledonia', 78.83),
  ('New Zealand', 82.54),
  ('Nicaragua', 74.78),
  ('North Macedonia', 76.84),
  ('Northern Mariana Islands', 76.58),
  ('Norway', 82.55),
  ('Oman', 76.9),
  ('Palau', 74.64),
  ('Panama', 77.62),
  ('Paraguay', 78.37),
  ('Poland', 78.76),
  ('Portugal', 81.5),
  ('Puerto Rico', 81.68),
  ('Qatar', 79.81),
  ('Romania', 75.75),
  ('Saint Barthelemy', 80.58),
  ('Saint Kitts and Nevis', 77.08),
  ('Saint Lucia', 78.95),
  ('Saint Martin', 80.58),
  ('Saint Pierre and Miquelon', 81.41),
  ('Saint Vincent and the Grenadines', 76.68),
  ('Samoa', 75.19),
  ('San Marino', 83.86),
  ('Saudi Arabia', 76.65),
  ('Seychelles', 76.1),
  ('Singapore', 86.35),
  ('Sint Maarten', 79.26),
  ('Slovakia', 78.31),
  ('Slovenia', 81.82),
  ('Solomon Islands', 76.7),
  ('South Korea', 82.97),
  ('Spain', 82.55),
  ('Sri Lanka', 78.0),
  ('Sweden', 82.7),
  ('Switzerland', 83.23),
  ('Taiwan', 81.16),
  ('Thailand', 77.66),
  ('The Bahamas', 76.13),
  ('Tonga', 77.53),
  ('Trinidad and Tobago', 75.94),
  ('Tunisia', 76.82),
  ('Turkey', 76.21),
  ('Turks and Caicos Islands', 80.82),
  ('United Kingdom', 81.94),
  ('United States', 80.59),
  ('Uruguay', 78.43),
  ('Uzbekistan', 75.29),
  ('Vanuatu', 75.14),
  ('Vietnam', 75.52),
  ('Virgin Islands', 80.27),
  ('Wallis and Futuna', 80.67),
  ('West Bank', 76.38)],
 'Literacy': [('Albania', 0.981),
  ('Andorra', 1.0),
  ('Antigua and Barbuda', 0.99),
  ('Argentina', 0.99),
  ('Armenia', 0.998),
  ('Aruba', 0.978),
  ('Azerbaijan', 0.998),
  ('Bahrain', 0.975),
  ('Barbados', 0.996),
  ('Belarus', 0.999),
  ('Bolivia', 0.925),
  ('Bosnia and Herzegovina', 0.985),
  ('Botswana', 0.885),
  ('Brazil', 0.932),
  ('Brunei', 0.972),
  ('Bulgaria', 0.984),
  ('Burma', 0.891),
  ('Cabo Verde', 0.868),
  ('Chile', 0.964),
  ('China', 0.968),
  ('Colombia', 0.956),
  ('Costa Rica', 0.979),
  ("Cote d'Ivoire", 0.899),
  ('Croatia', 0.993),
  ('Cuba', 0.998),
  ('Cyprus', 0.991),
  ('Czechia', 0.99),
  ('Ecuador', 0.936),
  ('El Salvador', 0.891),
  ('Equatorial Guinea', 0.953),
  ('Estonia', 0.998),
  ('Eswatini', 0.884),
  ('Fiji', 0.991),
  ('Gaza Strip', 0.975),
  ('Georgia', 0.996),
  ('Greece', 0.979),
  ('Greenland', 1.0),
  ('Grenada', 0.986),
  ('Guyana', 0.885),
  ('Honduras', 0.885),
  ('Hungary', 0.991),
  ('Indonesia', 0.96),
  ('Israel', 0.978),
  ('Italy', 0.992),
  ('Jamaica', 0.887),
  ('Jordan', 0.982),
  ('Kazakhstan', 0.998),
  ('Kuwait', 0.965),
  ('Kyrgyzstan', 0.996),
  ('Latvia', 0.999),
  ('Lebanon', 0.951),
  ('Libya', 0.91),
  ('Lithuania', 0.998),
  ('Macau', 0.965),
  ('Malaysia', 0.95),
  ('Maldives', 0.977),
  ('Malta', 0.945),
  ('Marshall Islands', 0.983),
  ('Mauritius', 0.913),
  ('Mexico', 0.952),
  ('Moldova', 0.994),
  ('Mongolia', 0.992),
  ('Montenegro', 0.988),
  ('Namibia', 0.915),
  ('New Caledonia', 0.969),
  ('North Korea', 1.0),
  ('North Macedonia', 0.984),
  ('Oman', 0.957),
  ('Palau', 0.966),
  ('Panama', 0.957),
  ('Paraguay', 0.945),
  ('Peru', 0.945),
  ('Philippines', 0.963),
  ('Poland', 0.998),
  ('Portugal', 0.961),
  ('Puerto Rico', 0.924),
  ('Qatar', 0.935),
  ('Romania', 0.988),
  ('Russia', 0.997),
  ('Samoa', 0.991),
  ('San Marino', 0.999),
  ('Sao Tome and Principe', 0.928),
  ('Saudi Arabia', 0.976),
  ('Serbia', 0.995),
  ('Seychelles', 0.959),
  ('Singapore', 0.975),
  ('Slovenia', 0.997),
  ('South Africa', 0.95),
  ('Spain', 0.986),
  ('Sri Lanka', 0.923),
  ('Suriname', 0.944),
  ('Syria', 0.864),
  ('Taiwan', 0.985),
  ('Tajikistan', 0.998),
  ('Thailand', 0.938),
  ('The Dominican', 0.938),
  ('Tonga', 0.994),
  ('Trinidad and Tobago', 0.99),
  ('Turkey', 0.967),
  ('Turkmenistan', 0.997),
  ('Ukraine', 0.998),
  ('Uruguay', 0.988),
  ('Uzbekistan', 1.0),
  ('Vanuatu', 0.875),
  ('Venezuela', 0.971),
  ('Vietnam', 0.958),
  ('West Bank', 0.975),
  ('Zambia', 0.867),
  ('Zimbabwe', 0.865)],
 'Internet access': [('Albania', 0.72),
  ('Algeria', 0.63),
  ('Andorra', 0.92),
  ('Anguilla', 0.82),
  ('Antarctica', 1.0),
  ('Antigua and Barbuda', 0.76),
  ('Argentina', 0.86),
  ('Armenia', 0.77),
  ('Aruba', 0.97),
  ('Australia', 0.9),
  ('Austria', 0.88),
  ('Azerbaijan', 0.85),
  ('Bahrain', 1.0),
  ('Barbados', 0.82),
  ('Belarus', 0.85),
  ('Belgium', 0.92),
  ('Bermuda', 0.98),
  ('Bosnia and Herzegovina', 0.73),
  ('Botswana', 0.64),
  ('Brazil', 0.81),
  ('British Virgin Islands', 0.78),
  ('Brunei', 0.95),
  ('Bulgaria', 0.7),
  ('Cabo Verde', 0.65),
  ('Canada', 0.97),
  ('Cayman Islands', 0.81),
  ('Chile', 0.88),
  ('China', 0.7),
  ('Colombia', 0.7),
  ('Costa Rica', 0.81),
  ('Croatia', 0.78),
  ('Cuba', 0.74),
  ('Curacao', 0.68),
  ('Cyprus', 0.91),
  ('Czechia', 0.868),
  ('Denmark', 0.97),
  ('Dominica', 0.7),
  ('Ecuador', 0.65),
  ('Egypt', 0.72),
  ('Estonia', 0.961),
  ('Falkland Islands (Islas Malvinas)', 0.99),
  ('Faroe Islands', 0.98),
  ('Finland', 0.92),
  ('France', 0.85),
  ('French Polynesia', 0.73),
  ('Gaza Strip', 0.75),
  ('Georgia', 0.912),
  ('Germany', 0.9),
  ('Gibraltar', 0.94),
  ('Greece', 0.78),
  ('Greenland', 0.7),
  ('Guam', 0.81),
  ('Guernsey', 0.84),
  ('Hong Kong', 0.92),
  ('Hungary', 0.893),
  ('Iceland', 0.99),
  ('Iran', 0.84),
  ('Ireland', 0.92),
  ('Israel', 0.9),
  ('Italy', 0.7),
  ('Japan', 0.9),
  ('Jordan', 0.67),
  ('Kazakhstan', 0.86),
  ('Kosovo', 0.84),
  ('Kuwait', 0.99),
  ('Latvia', 0.898),
  ('Lebanon', 0.84),
  ('Liechtenstein', 0.98),
  ('Lithuania', 0.978),
  ('Luxembourg', 0.99),
  ('Macau', 0.88),
  ('Malaysia', 0.9),
  ('Maldives', 0.63),
  ('Malta', 0.87),
  ('Mauritius', 0.65),
  ('Mexico', 0.72),
  ('Moldova', 0.763),
  ('Monaco', 0.97),
  ('Mongolia', 0.63),
  ('Montenegro', 0.78),
  ('Morocco', 0.84),
  ('Netherlands', 0.91),
  ('New Caledonia', 0.82),
  ('New Zealand', 0.92),
  ('Niue', 0.8),
  ('North Macedonia', 0.81),
  ('Norway', 0.97),
  ('Oman', 0.95),
  ('Panama', 0.64),
  ('Paraguay', 0.64),
  ('Peru', 0.65),
  ('Pitcairn Islands', 1.0),
  ('Poland', 0.83),
  ('Portugal', 0.78),
  ('Puerto Rico', 0.78),
  ('Qatar', 1.0),
  ('Romania', 0.78),
  ('Russia', 0.85),
  ('Saint Barthelemy', 0.72),
  ('Saint Kitts and Nevis', 0.81),
  ('Saint Pierre and Miquelon', 0.795),
  ('Saudi Arabia', 0.98),
  ('Serbia', 0.78),
  ('Seychelles', 0.79),
  ('Singapore', 0.92),
  ('Sint Maarten', 0.895),
  ('Slovakia', 0.9),
  ('Slovenia', 0.87),
  ('South Africa', 0.7),
  ('South Korea', 0.97),
  ('Spain', 0.93),
  ('Suriname', 0.7),
  ('Sweden', 0.95),
  ('Switzerland', 0.94),
  ('Taiwan', 0.89),
  ('Thailand', 0.78),
  ('The Bahamas', 0.87),
  ('The Dominican', 0.77),
  ('Trinidad and Tobago', 0.77),

Once we have found outliers in our data, we have the hard decision of what to do with the outliers:
 - Are the outliers errors in the original data that we should discuss with the original data authors?
 - Are they a symptom of incorrect data parsing earlier in our pipeline?
 - Should they be replaced with a more typical value?
 - Should they be removed entirely?
 - Are they real and should just be kept in the data without modification.

In our case, we will keep our outliers intact.
However, use this as an opportunity to look for bugs in you number parsing code from Part 1.
Incorrectly parsed numbers can easily show up as outliers.

### Data Imputation

Besides outliers, another form of anomalous data we may see are *missing values*.
Missing values may be represented in many different ways depending on the dataset:
numpy.nan, -1, null, None, "MISSING", etc.

Sometimes what to do with missing data is obvious given the dataset.
For example, if a new country was founded in 2022 then the value in its "Unemployment rate 2019" should be missing.
Neither a 0.0 nor 1.0 would make sense, the value just does not exist.

However in more complex situations, deciding what to do with missing data can be very difficult.
One potential way to deal with missing data is through [data imputation](https://en.wikipedia.org/wiki/Imputation_(statistics)).
"Imputing" data is when we replace missing values with some derived value.
We are essentially "filling in the gaps" in our data with values that make sense.
There are many methods of choosing which values to impute, some of which are:
 - Using the **mean** value of the column (using non-empty values).
 - Using other values to create a machine learning model (often a regressor) to **predict** what the value should be.
 - Making a **random** guess (which can sometimes work better than you may expect).
 - Using knowledge of the domain to build a probabilistic model and then using that model to make a **educated random** guess.

There is no fixed rule or theorem that will tell you what the best data imputation method is for each dataset or column.
It will usually come down to the expertise of a data scientists (that's you!)
to bridge the gap between the domain data and statistics and figure our the best way to impute missing data (or whether to leave it be).
Always be careful when imputing values,
since it may bias your data.

In our data, the most sparsely populated columns (and candidates for imputation)
are "Literacy" and the three "Unemployment" columns.

The "Literacy" column could be a very interesting column to impute,
because there are many [studies on different predictors of literacy in adults](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0243763).
We may be able to use the other columns in our dataset (like "Electricity access", "Internet access", "Improved Sanitation", "Improved Water")
to predict literacy rate.
Unfortunately, building regressors is outside the scope of this assignment.

Still, the "Unemployment" columns also provides an interesting data imputation opportunity for us.
There are three columns that represent employment for three years ("Unemployment rate 2021", "Unemployment rate 2020", "Unemployment rate 2019"),
and each country may have values for any number of those columns.
To smooth out the data and impute missing values,
we can combine these columns into one ("Recent Unemployment") and take the **mean** of all present values.

<h3 style="color: darkorange; font-size: x-large";>★ Task 2.B</h3>

Complete the function below that takes a frame, a list of column names, and a new column name.
Modify the frame to merge the provided columns into a single column with the provided name.
To merge columns, take the mean of any present values.
If no values are present, use `numpy.nan`.
Return the passed-in frame.

In [11]:
def merge_columns(frame, merge_column_names, new_column_name):
    vals = [0] * len(frame)
    for name in merge_column_names:
        for i in range(len(frame[name])):
            if frame[name][i] != numpy.nan:
                vals[i] += frame[name][i]
        frame.pop(name)
    vals = [val / len(merge_column_names) for val in vals]
    frame[new_column_name] = vals
    return frame

print("Data with merged unemployment data:")
columns = ['Unemployment rate 2019', 'Unemployment rate 2020', 'Unemployment rate 2021']
merge_columns(world_data, columns, 'Recent Unemployment')

Data with merged unemployment data:

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Export commodities,Labor Agriculture,Labor Industry,Labor Services,Recent Unemployment
0,Afghanistan,53.65,38346720.0,0.373,0.990,0.18,0.614,0.765,"gold, grapes, opium, fruits and nuts, insect r...",0.443,0.181,0.376,0.120700
1,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN
2,Albania,79.47,3095344.0,0.981,1.000,0.72,0.999,0.970,"leather footwear and parts, crude petroleum, i...",0.414,0.183,0.403,0.122067
3,Algeria,78.03,44178884.0,0.814,0.994,0.63,0.965,0.994,"crude petroleum, natural gas, refined petroleu...",0.108,0.309,0.584,0.119200
4,American Samoa,75.32,45443.0,NaN,NaN,0.31,0.990,0.998,canned tuna,NaN,0.155,0.464,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,64.50,652271.0,NaN,NaN,NaN,NaN,NaN,phosphates 62% (2012 est.),0.500,0.500,NaN,NaN
246,Yemen,67.51,30984689.0,0.701,0.470,0.27,0.591,0.996,"crude petroleum, gold, fish, industrial chemic...",NaN,NaN,NaN,0.133400
247,Zambia,66.26,19642123.0,0.867,0.370,0.20,0.517,0.716,"copper, gold, gemstones, sulfuric acid, raw su...",0.548,0.099,0.353,0.128000
248,Zimbabwe,63.32,15121004.0,0.865,0.530,0.29,0.642,0.769,"gold, tobacco, iron alloys, nickel, diamonds, ...",0.675,0.073,0.252,0.051167
249,none,74.44,101009.0,NaN,0.820,0.35,0.883,0.786,"fish and fish products, coral/shells, scrap me...",0.009,0.052,0.939,NaN

## Part 3: Encoding Data

Let's finally deal with that pesky "Export commodities" column!
It's not a number, but represents a list of items.
It is common to deal with data that is not numeric (arbitrary strings, strings representing single items, strings representing list/sets of items, etc).
To deal with these non-numeric columns, we need to encode them.
That is, we need to convert them from a non-numeric form to a numeric one.

In computer science, there are many encodings and encoding methods.
An encoding that you are probably already familiar with is [ASCII](https://en.wikipedia.org/wiki/ASCII),
which is a way to represent Latin letters as numbers.
Encodings are just agreed upon ways to represent non-numeric values as numbers.

In machine learning and data science, probably the most popular encoding method is [the One-Hot encoding](https://en.wikipedia.org/wiki/One-hot).
In One-Hot encoding, we take all the possible values an item can take and assign each possible value an index.
Presence of that value results in a 1, which absence results in a 0.
Essentially, we are turning a list of items into a series of binary columns which ask "Do you have this value?".

For example, consider the following tables.
In the first one, a student's major is kept as a string (or a list of strings).
To encode it, a column is created for each possible major and a 1 is present if that student has that major
(otherwise a 0 is used).

<center><img src="one-hot.png"/></center>

<h3 style="color: darkorange; font-size: x-large";>★ Task 3.A</h3>

Complete the function below that takes in a frame and a column name.
The function should modify the frame to add multiple columns represented a one-hot encoding of the specified column.
Assume that the given column contains a comma-separated list of values.
Each value should be made lowercase and have additional whitespace removed from the beginning and end.
The new column names should be named: "`<old column name>: <value>`.
(Like in the students example above.)
Return **a new frame** with the columns of the passed-in frame (minus the specified column) and all the new one-hot columns.

Note that the above semantics will not work perfectly for our world data,
but it will provide a good starting point.

In [12]:
def one_hot(frame, column_name):
    new_frame = frame.copy()
    d = {}
    if (len(column_name) == 0):
        return new_frame
    for i in range(len(frame[column_name])):
        val = str(frame[column_name][i])
        exports = val.split(",")
        for export in exports:
            export = export.strip().lower()
            if (column_name + ": " + export) not in d:
                d[column_name + ": " + export] = [0] * len(frame)
            d[column_name + ": " + export][i] = 1
    new_frame.pop(column_name)
    new_frame = pandas.concat([new_frame, pandas.DataFrame(d)], axis=1)
    return new_frame

In [13]:
# Before calling your function, we are going to clean up the data a little bit.
# Remember to take you time and look at regexs one piece at a time.
world_data['Export commodities'].replace(r'\s*\(\d{4}(?:\s*est\.)?\)\s*', '',
                                         regex = True, inplace = True)
world_data['Export commodities'].replace(r'\s*\(\d{2}%\)\s*', '',
                                         regex = True, inplace = True)
world_data['Export commodities'].replace(r'\s*\d{2}%\s*', '',
                                         regex = True, inplace = True)

print("One-Hot encoded exports:")
world_data = one_hot(world_data, 'Export commodities')
world_data

One-Hot encoded exports:

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Labor Agriculture,Labor Industry,...,Export commodities: perfume plants,Export commodities: polyacetals,Export commodities: stone,Export commodities: olives,Export commodities: fruit,Export commodities: limestone,Export commodities: phosphates,Export commodities: industrial chemical liquids,Export commodities: sulfuric acid,Export commodities: coral/shells
0,Afghanistan,53.65,38346720.0,0.373,0.990,0.18,0.614,0.765,0.443,0.181,...,0,0,0,0,0,0,0,0,0,0
1,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Albania,79.47,3095344.0,0.981,1.000,0.72,0.999,0.970,0.414,0.183,...,0,0,0,0,0,0,0,0,0,0
3,Algeria,78.03,44178884.0,0.814,0.994,0.63,0.965,0.994,0.108,0.309,...,0,0,0,0,0,0,0,0,0,0
4,American Samoa,75.32,45443.0,NaN,NaN,0.31,0.990,0.998,NaN,0.155,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,64.50,652271.0,NaN,NaN,NaN,NaN,NaN,0.500,0.500,...,0,0,0,0,0,0,1,0,0,0
246,Yemen,67.51,30984689.0,0.701,0.470,0.27,0.591,0.996,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
247,Zambia,66.26,19642123.0,0.867,0.370,0.20,0.517,0.716,0.548,0.099,...,0,0,0,0,0,0,0,0,1,0
248,Zimbabwe,63.32,15121004.0,0.865,0.530,0.29,0.642,0.769,0.675,0.073,...,0,0,0,0,0,0,0,0,0,0
249,none,74.44,101009.0,NaN,0.820,0.35,0.883,0.786,0.009,0.052,...,0,0,0,0,0,0,0,0,0,1

## Part 4: Joining Data

Data is not always from a single frame/table or source.
You will often need to merge and cross-reference data from other sources and in different frames.
When we talk about merging data from multiple frames or tables,
we usually use terminology that comes from databases and relational algebra.
So we say "table" to refer to the abstract concept of tabular data (data with rows and columns) like a Pandas.DataFrame.
Then, a [join](https://en.wikipedia.org/wiki/Join_(SQL)) is an operation that combines data from the columns of two different tables.
(Note that the same table can actually be used multiple times (called a "self-join"),
and joins can be chained together to include as many tables as desired.)

In this section, we will briefly show the main different types of joins.
The image below shows a graphical representation of the primary join types.
When discussing joins, we will refer to the table on the left side of the join operator as the LHS (left-hand side)
and the table on the right side of the join operator as the RHS (right-hand side).
In the diagram below, $ A $ is always the LHS and $ B $ is always the RHS.

Joins will typically specify some condition that must be meant for two rows to be merged,
referred to as a "join condition".
The most common join condition is equality for a set of columns.
When a collection of columns are checked for equality in a join,
we say we join "on" those columns.
For example, we may say that we join $ A $ and $ B $ on the "ID" column.

<center><img src="joins.png"/></center>

### Cross Join / Cartesian Product / Cross Product

Cross joins (also known an "Cartesian products" or "cross products")
are when every row in the LHS is paired with every row in the RHS.
Therefore, the resulting table will have $ |A| * |B| $ number of rows.

Cross joins can be though of as the basis for all other joins,
since all possible rows are enumerated.

### Inner Join

Inner joins take only the rows from the LHS and RHS where the join conditions are met.
We call an inner join where all shared columns (columns with the same name) between the LHS and RHS are checked for equality a *natural join*.

### Full Outer Join

Full outer joins (also known as "outer joins") ensure that every row from each table is represented.
First, rows where the join condition are met are included.
Then, rows from each table are included where the join condition are not met are included.
For these non-matching rows, any columns that come from the other table are filled in with null or empty values
(depending on the engine that performs the join).

### Left Outer Join

Left outer joins are like full outer joins,
except only the non-matching rows from the LHS are included.

### Right Outer Join

Left outer joins are like full outer joins,
except only the non-matching rows from the RHS are included.

Now that you are an expert in join types, let's get some new data to join!
To augment our data, we can get more information from the [World Health Organization](https://www.who.int/) (WHO).
To tie in with our previous HO, we can get some 2022 statistics for each country on their Covid-19 status.

In [14]:
with open('who_covid_data_2022.json', 'r') as file:
    data = json.load(file)

who_data = pandas.DataFrame.from_dict(data, orient = 'index')
who_data.sort_index(axis = 0, inplace = True)
who_data.head()

,Code,Cumulative_Confirmed,Per_100000_Confirmed,Last_7_Days_Confirmed,Last_7_Days_Confirmed_Per_100000,Confirmed,Cumulative_Deaths,Per_100000_Deaths,Last_7_Days_Deaths,Last_7_Days_Deaths_Per_100000,Deaths,Total_Vaccinations,Total_Vaccinations_Per_100,Total_One_Dose,Total_One_Dose_Per_100,Total_Fully_Vacc,Total_Fully_Vacc_Per_100,Total_Boosted,Total_Boosted_Per_100
Afghanistan,AF,207969,534.235,159,0.408,16,7855,20.178,3,0.008,0,12526397.0,32.178,11533150.0,29.627,10825004.0,27.808,NaN,NaN
Albania,AL,333072,11573.841,134,4.656,8,3596,124.957,0,0.000,0,3025728.0,105.100,1342243.0,47.163,1270016.0,44.625,377057.0,13.249
Algeria,DZ,271255,618.583,1,0.002,0,6881,15.692,0,0.000,0,15267442.0,34.817,7840131.0,17.879,6481186.0,14.780,575651.0,1.313
American Samoa,AS,8309,15053.354,0,0.000,0,34,61.598,0,0.000,0,111316.0,201.670,44885.0,81.318,41423.0,75.046,24160.0,43.770
Andorra,AD,47781,61840.419,0,0.000,0,159,205.785,0,0.000,0,154367.0,199.800,57901.0,76.009,53485.0,70.211,42981.0,56.423

To perform joins in Pandas, a useful method is [DataFrame.join()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html).
Of course, Pandas always has multiple ways to do anything, but the `DataFrame.join()` method is a good start.

<h3 style="color: darkorange; font-size: x-large";>★ Task 4.A</h3>

Complete the function below that takes in two frames and a list of column names.
This function should return a new frame that contains the left outer join between these frames on the specified columns from the LHS.

*Hint: Make sure to read the documentation on DataFrame.join() if you are going to use it.*

In [15]:
def left_join(lhs_frame, rhs_frame, column_names):
    new_frame = lhs_frame.copy()
    new_frame = new_frame.join(rhs_frame, on=column_names, how='left')
    return new_frame

print("World data that includes Covid-19 stats:")
covid_world_data = left_join(world_data, who_data, ['Country'])
covid_world_data

World data that includes Covid-19 stats:

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Labor Agriculture,Labor Industry,...,Last_7_Days_Deaths_Per_100000,Deaths,Total_Vaccinations,Total_Vaccinations_Per_100,Total_One_Dose,Total_One_Dose_Per_100,Total_Fully_Vacc,Total_Fully_Vacc_Per_100,Total_Boosted,Total_Boosted_Per_100
0,Afghanistan,53.65,38346720.0,0.373,0.990,0.18,0.614,0.765,0.443,0.181,...,0.008,0.0,12526397.0,32.178,11533150.0,29.627,10825004.0,27.808,NaN,NaN
1,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,79.47,3095344.0,0.981,1.000,0.72,0.999,0.970,0.414,0.183,...,0.000,0.0,3025728.0,105.100,1342243.0,47.163,1270016.0,44.625,377057.0,13.249
3,Algeria,78.03,44178884.0,0.814,0.994,0.63,0.965,0.994,0.108,0.309,...,0.000,0.0,15267442.0,34.817,7840131.0,17.879,6481186.0,14.780,575651.0,1.313
4,American Samoa,75.32,45443.0,NaN,NaN,0.31,0.990,0.998,NaN,0.155,...,0.000,0.0,111316.0,201.670,44885.0,81.318,41423.0,75.046,24160.0,43.770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,64.50,652271.0,NaN,NaN,NaN,NaN,NaN,0.500,0.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,Yemen,67.51,30984689.0,0.701,0.470,0.27,0.591,0.996,NaN,NaN,...,0.000,0.0,1242982.0,4.167,1006274.0,3.374,761003.0,2.551,59307.0,0.199
247,Zambia,66.26,19642123.0,0.867,0.370,0.20,0.517,0.716,0.548,0.099,...,0.000,0.0,13581376.0,73.876,10937674.0,59.496,8530651.0,46.403,1026839.0,5.586
248,Zimbabwe,63.32,15121004.0,0.865,0.530,0.29,0.642,0.769,0.675,0.073,...,0.000,0.0,12694853.0,85.413,6558577.0,44.127,4927696.0,33.154,1208580.0,8.132
249,none,74.44,101009.0,NaN,0.820,0.35,0.883,0.786,0.009,0.052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now we can see our country data along with Covid-19 data for each country!

In [16]:
covid_world_data.describe()

,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Labor Agriculture,Labor Industry,Labor Services,...,Last_7_Days_Deaths_Per_100000,Deaths,Total_Vaccinations,Total_Vaccinations_Per_100,Total_One_Dose,Total_One_Dose_Per_100,Total_Fully_Vacc,Total_Fully_Vacc_Per_100,Total_Boosted,Total_Boosted_Per_100
count,226.000000,2.490000e+02,163.00000,219.000000,227.000000,214.000000,224.000000,204.000000,199.000000,190.000000,...,194.000000,194.000000,1.910000e+02,191.000000,1.920000e+02,192.000000,1.920000e+02,192.000000,1.760000e+02,176.000000
mean,74.584336,3.168933e+07,0.85889,0.865037,0.620269,0.859491,0.936634,0.369309,0.192879,0.666642,...,0.218227,3.479381,5.840495e+07,152.249194,2.428285e+07,62.836734,2.242500e+07,57.710062,1.186132e+07,32.114188
std,6.753206,1.310965e+08,0.17701,0.247437,0.276890,0.209151,0.099128,1.411557,0.098790,1.430179,...,0.672357,31.150181,3.019056e+08,85.124399,1.219068e+08,26.471725,1.164194e+08,26.331122,6.412856e+07,26.028057
min,53.650000,0.000000e+00,0.22300,0.090000,0.010000,0.157000,0.475000,0.000000,0.018000,0.041000,...,0.000000,0.000000,1.380000e+02,0.256000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,70.005000,1.223200e+05,0.78450,0.878000,0.360000,0.807750,0.922500,0.042000,0.129000,0.411500,...,0.000000,0.000000,5.054580e+05,80.356500,2.695368e+05,44.057000,2.203640e+05,38.151250,4.532600e+04,7.638000
50%,75.800000,4.337768e+06,0.94500,1.000000,0.700000,0.971500,0.987000,0.162500,0.190000,0.592000,...,0.000000,0.000000,4.523381e+06,161.900000,2.789580e+06,67.455000,2.504098e+06,63.219000,6.256960e+05,30.903500
75%,79.640000,1.964212e+07,0.98550,1.000000,0.860000,0.999750,0.999000,0.442250,0.240500,0.733000,...,0.055500,0.000000,2.010046e+07,215.910000,9.382555e+06,82.212750,8.168116e+06,78.394500,4.546497e+06,54.206000
max,89.520000,1.410540e+09,1.00000,1.000000,1.000000,1.000000,1.000000,20.060000,0.630000,20.060000,...,5.693000,415.000000,3.465114e+09,469.778000,1.307512e+09,163.185000,1.277357e+09,163.185000,8.048508e+08,145.944000

Note that we will likely have rows from our world data that did not match up with the WHO data.
To see these, we can just look for empty values in WHO columns (since a left join would put empty values there).

In [17]:
covid_world_data[covid_world_data['Total_Vaccinations'].isnull()]

,Country,Life expectancy,Population,Literacy,Electricity access,Internet access,Improved Sanitation,Improved Water,Labor Agriculture,Labor Industry,...,Last_7_Days_Deaths_Per_100000,Deaths,Total_Vaccinations,Total_Vaccinations_Per_100,Total_One_Dose,Total_One_Dose_Per_100,Total_Fully_Vacc,Total_Fully_Vacc_Per_100,Total_Boosted,Total_Boosted_Per_100
1,Akrotiri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Antarctica,NaN,0.0,NaN,NaN,1.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Ashmore and Cartier Islands,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Baker Island, Howland Island, Jarvis Island, J...",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Bolivia,72.50,12054379.0,0.925,0.930,0.600,0.831,0.935,0.294,0.220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Bouvet Island,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Brunei,78.38,478054.0,0.972,1.000,0.950,NaN,0.999,0.042,0.628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Burma,69.92,57526449.0,0.891,0.510,0.350,0.852,0.853,0.700,0.070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Christmas Island,NaN,2205.0,NaN,NaN,0.360,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Clipperton Island,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Cocos (Keeling) Islands,NaN,596.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Congo (Brazzaville),62.10,5546307.0,0.803,0.720,0.090,0.547,0.842,0.354,0.206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Coral Sea Islands,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Cote d'Ivoire,62.26,28713423.0,0.899,0.760,0.360,0.571,0.798,0.680,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Curacao,79.42,152379.0,NaN,1.000,0.680,1.000,1.000,0.012,0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,DRC,61.83,108407721.0,0.770,0.090,0.140,0.355,0.594,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Dhekelia,NaN,15500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Eritrea,66.85,6209262.0,0.766,0.470,0.010,0.157,0.578,0.800,0.200,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
74,Falkland Islands (Islas Malvinas),77.90,3198.0,NaN,NaN,0.990,1.000,0.953,0.410,0.245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,French Southern and Antarctic Lands,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Gaza Strip,75.40,1997328.0,0.975,1.000,0.750,0.996,0.989,0.052,0.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Heard Island and McDonald Islands,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Holy See (Vatican City),NaN,1000.0,NaN,1.000,NaN,NaN,1.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Hong Kong,83.61,7276588.0,NaN,1.000,0.920,0.964,1.000,0.038,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Iran,75.25,86758304.0,0.855,1.000,0.840,1.000,0.994,0.163,0.351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Jan Mayen,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Kosovo,71.12,1952701.0,NaN,1.000,0.840,NaN,NaN,0.044,0.174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Laos,68.15,7749595.0,0.847,0.950,0.340,0.822,0.888,0.731,0.061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Macau,84.98,635293.0,0.965,1.000,0.880,NaN,1.000,0.025,0.098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,Moldova,72.44,3287326.0,0.994,1.000,0.763,0.899,0.921,0.323,0.120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Navassa Island,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,Norfolk Island,NaN,1748.0,NaN,NaN,0.350,NaN,NaN,0.060,0.140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,North Korea,71.77,25955138.0,1.000,0.260,NaN,0.853,0.945,0.370,0.630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Northern Mariana Islands,76.58,51475.0,NaN,1.000,0.310,0.979,1.000,0.019,0.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,Paracel Islands,NaN,1440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Russia,72.44,142021981.0,0.997,1.000,0.850,0.894,0.976,0.094,0.276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Saint Barthelemy,80.58,7103.0,NaN,1.000,0.720,1.000,1.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Saint Martin,80.58,32792.0,NaN,1.000,0.485,1.000,1.000,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Saint Pierre and Miquelon,81.41,5257.0,NaN,NaN,0.795,1.000,0.914,0.180,0.410,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,South Georgia and South Sandwich Islands,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,South Korea,82.97,51844834.0,NaN,1.000,0.970,0.999,0.999,0.048,0.246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Spratly Islands,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Svalbard (sometimes referred to as Spitsbergen...,NaN,2926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,Syria,74.28,21563800.0,0.864,0.920,0.360,0.995,0.998,0.170,0.160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Taiwan,81.16,23580712.0,0.985,NaN,0.890,NaN,NaN,0.049,0.359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Tanzania,70.19,63852892.0,0.779,0.400,0.220,0.504,0.720,0.669,0.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,The Bahamas,76.13,355608.0,NaN,1.000,0.870,0.982,0.989,0.030,0.110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,The Dominican,72.56,10694700.0,0.938,1.000,0.770,0.963,0.972,0.144,0.208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,The Gambia,67.60,2413403.0,0.508,0.490,0.370,0.600,0.895,0.750,0.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Turkey,76.21,83047706.0,0.967,1.000,0.780,0.996,0.990,0.184,0.266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,United Kingdom,81.94,67791400.0,NaN,1.000,0.950,0.998,1.000,0.013,0.152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,United States,80.59,337341954.0,NaN,1.000,0.910,0.997,0.999,0.007,0.203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Venezuela,73.29,29789730.0,0.971,0.996,0.720,0.958,0.942,0.073,0.218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Vietnam,75.52,103808319.0,0.958,1.000,0.700,0.933,0.969,0.403,0.257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Virgin Islands,80.27,105413.0,NaN,1.000,0.640,0.994,0.987,0.010,0.190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Wake Island,NaN,0.0,NaN,1.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,West Bank,76.38,3000021.0,0.975,1.000,0.750,0.996,0.989,0.115,0.344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,Western Sahara,64.50,652271.0,NaN,NaN,NaN,NaN,NaN,0.500,0.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,none,74.44,101009.0,NaN,0.820,0.350,0.883,0.786,0.009,0.052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Looking at these results, we can understand why the WHO may not have data on some of them.
Some are not technically countries (like "Antarctica"),
some have ambiguous national status (like "Taiwan"),
and some are just using different but valid names (like "United States" vs "United States of America").

As a data scientist, think about ways that you could more efficiently join together these datasets.

Congratulations!
You now have a grasp on the basics of data cleaning and munging (the soul of a data scientist).